<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>JavaScript YUI 3</string>
	<key>uuid</key>
	<string>AA2CE3B9-D2A5-4F1E-96C3-FB64C5F59568</string>
</dict>
</plist>
